{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>gettit</title>

    <script src="https://unpkg.com/tone@14.7.77/build/Tone.js"></script>
    <!-- <script src="https://unpkg.com/tone@14.7.77/build/Tone.js"></script> -->
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <p>Buttons to play sounds:</p>
  <br><br>

  <button id="play-button">Tone.js sound</button>
  <br><br>
  <div id="blueSquare" style="background-color: blue; width: 100px; height: 100px;"></div>
  <br><br>
  <div id="purpleSquare" style="background-color: purple; width: 100px; height: 100px;"></div>
  <br><br><br><br>
  <h3 id="score">Score: 0</h3>
  <br>
  <h3 id="score">Best Possible Score: 40</h3>
  </body>
</html>
